.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
  z-index: 1;
}

.App-header {
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#377fb3, #d6e7ff);

}


.spacer{
  height: 101vh;
  width: 80vw;
  margin-bottom: 100;
}

.info{
  position: fixed;
  top: 170px; left: 68px;
  vertical-align: middle;
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 600;

  background: radial-gradient(circle at 700px 0px, #2D4F82, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: 0;
}

.info:before{

  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.infoMobile{
  position: fixed;
  top: 115px; left: 30px;
  vertical-align: middle;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;

  background: radial-gradient(circle at 700px 0px, #2D4F82, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: 0;
}

.infoMobile:before{

  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.name{
  position: fixed;
  top: 20px; left: 65px;
  font-size: 120px;
  letter-spacing: 6px;
  font-weight: 700;

  color: white;
  white-space: nowrap;
  text-decoration: none;

  z-index: 0;
}
.name:hover{
  opacity: 0.9;
}
.nameMobile{
  position: fixed;
  top: 40px; left: 25px;
  align-items: center;
  text-align: right;
  font-size: 38px;
  letter-spacing: 6px;
  font-weight: 700;

  color: white;
  white-space: nowrap;
  text-decoration: none;

  z-index: 0;
}
.nameMobile:hover{
  opacity: 0.9;
}

.phone{
  position: fixed;
  bottom: 260px; left: 65px;
  font-size: 90px;
  letter-spacing: 6px;
  font-weight: 700;
  text-decoration: none;

  color: white;
  white-space: nowrap;

  z-index: 0;
}
.phone:hover{
  animation: tilt 1 0.2s linear;
  animation-fill-mode: forwards;
}
.phoneMobile{
  position: fixed;
  bottom: 260px; left: 25px;
  font-size: 21px;
  letter-spacing: 6px;
  font-weight: 700;
  text-decoration: none;

  color: white;
  white-space: nowrap;

  z-index: 0;
}
.phoneMobile:hover{
  animation: tilt 1 0.2s linear;
  animation-fill-mode: forwards;
}
.email{
  position: fixed;
  bottom: 150px; left: 65px;
  font-size: 90px;
  letter-spacing: 6px;
  font-weight: 700;
  text-decoration: none;

  color: white;
  white-space: nowrap;

  z-index: 0;
}
.email:hover{
  animation: tilt 1 0.2s linear;
  animation-fill-mode: forwards;

}

.emailMobile{
  position: fixed;
  bottom: 160px; left: 25px;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 700;
  text-decoration: none;

  color: white;
  white-space: nowrap;

  z-index: 0;
}
.emailMobile:hover{
  animation: tilt 1 0.2s linear;
  animation-fill-mode: forwards;
}

.more{
  position: fixed;
  bottom: 40px; left: 85px;
  color: white;
  z-index: 0;
  border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	transform: rotate(135deg);
  height: 50px;
	width: 50px;
  animation: blink infinite 1s linear alternate;

}
.more:hover{
  color: black;
  -webkit-animation: 0;
  opacity: 0.7;
}

.moreMobile{
  position: fixed;
  bottom: 40px; left: 45px;
  color: white;
  z-index: 0;
  border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	transform: rotate(135deg);
  height: 50px;
	width: 50px;
  animation: blink infinite 1s linear alternate;

}
.moreMobile:hover{
  color: black;
  -webkit-animation: 0;
  opacity: 0.7;
}



.containerHorizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: 25px;
  font-weight: 400;
  color: black;
}

.ballWrapper{
  position: fixed;
  top: 98px; left: 888px;
  z-index: 2;
}
.ball{
  animation: App-logo-spin infinite 5s linear;

  background: linear-gradient(rgba(255,255,255,0.1), white);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transform: scale(0.2);

}


.ballWrapperMobile{
  position: fixed;
  top: 47px; left: 328px;
  z-index: 2;
}
.ballMobile{
  animation: App-logo-spin infinite 5s linear;

  background: linear-gradient(rgba(255,255,255,0.1), white);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transform: scale(0.02);

}



.about{
  position: relative;
  width: 98vw;
  height: 350px;
  background-color: white;
  box-shadow: 0px 0px 3vmin rgba(0,0,0,0.1);
  color: black;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  z-index: 2;

}

.aboutHeader{
  margin-top: 2vh;
  margin-left: 4vw;
  font-size: 35px;
  letter-spacing: 0.1vw;
  font-weight: 800;
  color: black;
}

.aboutText{
  margin-left: 4vw;
  margin-right: 4vw;

  font-size: 20px;
  font-weight: 400;
  color: black;
}

.aboutTextMobile{
  margin-left: 4vw;
  margin-right: 1vw;

  font-size: 12px;
  font-weight: 400;
  color: black;
}

.face {
  position: relative;
  margin-right: 4vw;
  border-radius: 50%;
  width: 200px;
  flex-shrink: 0;
}

.faceMobile {
  position: relative;
  margin-right: 4vw;
  border-radius: 50%;
  width: 135px;
  flex-shrink: 0;
}


/* .face:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  z-index: -1;
  border-radius: 10px;
  background: url('/face.jpg')
              no-repeat
              center center/cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
} */
.vr{
  margin-top: 10px;
  margin-right: 7.5vw;
  width: 250px;
  height: 100px;
}


header{
  scroll-behavior: smooth;
}

Timeline{
  display: flex;
  flex-direction: row;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tilt {
  from {
    transform: rotate(0deg);
  }
  to {
    opacity: 0.8;
    transform: rotate(0.5deg);
  }
}
